.img {
    background-image: url('https://images.pexels.com/photos/2874752/pexels-photo-2874752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.login-wrap {
    background-color: rgb(255 255 255 / 50%);
    position: relative;
    z-index: 0;
    color: rgb(255 255 255);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 40px;
    border-radius: 30px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
}

.heading-section {
    font-size: 28px;
    color: #fff;
}

.form-control {
    height: 40px;
    font-size: 14px;
    border-radius: 40px;
    padding-left: 35px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.08);
}

.d-grid .login {
    background: #157648;
    border: 1px solid #157648;
    color: #ffffff;
}

.d-grid .lg-google{
    background: #fff8f8;
    color: #000;
    border-radius: 40px;
    width: 100%;
    display: block;
    font-family: "Lato", Arial, sans-serif;
}

.lg-google .google {
    width: 27px;
}

.container-fluid {
    bottom: 1px;
    position: absolute;
}

.icon1 {
    position: absolute;
    left: 53px;
    top: 116px;
    color: #24202070;
}

.icon2 {
    position: absolute;
    color: #24202070;
    margin-top: -31px;
    margin-left: 13px;
}

.checkbox-wrap {
    padding-left: 8px;
}

.form-check-input:checked[type=checkbox] {
    background-color: #f76926d9;
    border-color: #f76926d9;
}

.forgot-password {
    text-align: right;
    margin-top: -30px;
}

.forgot-password .btn {
    text-decoration: none;
    color: #fff;
}

.w-full .txt2 {
    text-decoration: none;
}

.text-center {
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
}

.login-wrap h3 {
    font-weight: 300;
    color: #fff;
    font-size: 23px;
}

.form-group input:focus~label,
.form-group input:not(:placeholder-shown)~label {
    top: -20px;
}

.form-group:nth-child(3) input[type="password"]~.fa-eye-slash {
    display: none;
}

.form-group:nth-child(3) input[type="text"]~.fa-eye {
    display: none;
}

.form-group .fa-eye {
    position: absolute;
    color: #24202080;
    right: 0;
    margin-right: 54px;
    margin-top: -26px;
    font-size: 12px;
}

.form-group .fa-eye-slash {
    position: absolute;
    color: #24202080;
    right: 0;
    margin-right: 54px;
    margin-top: -26px;
    font-size: 12px;
}


