.img {
    background-image: url('https://images.pling.com/img/00/00/59/97/06/1560756/f4696e366257c811850de26c3ddbc2aa787ae52ab3725c4be45cba2ff38ebe984995.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
  }

  .register-wrap {
    background-color: rgb(255 255 255 / 50%);
    position: relative;
    z-index: 0;
    color: rgb(255 255 255);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 40px;
    border-radius: 4px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
  }

  .register-wrap h3 {
      font-weight: 300;
      color: #fff;
      font-size: 23px;
  }

  .heading-section {
    font-size: 28px;
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
  }

  .text-1 {
    color: #fff;
  }

  .d-grid .lg-google{
      background: #fff8f8;
      color: #000;
      border-radius: 40px;
      width: 100%;
      display: block;
  }

  .lg-google .google {
      width: 27px;
  }

  .form-control {
    height: 40px;
    font-size: 14px;
    border-radius: 40px;
    padding-left: 35px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.08);
  }

  .checkbox-wrap {
    padding-left: 10px;
  }

  .form-check-input:checked[type=checkbox] {
      background-color: #f76926d9;
      border-color: #f76926d9;
  }

  .d-grid .submit {
      background: #157648;
      border: 1px solid #157648;
      color: #ffffff;
    }

  .login {
    text-decoration: none
  }

  .text {
    text-decoration: none
  }

  .icon-1 {
    position: absolute;
    left: 53px;
    top: 116px;
    color: #24202070;
  }

  .icon-2 {
    position: absolute;
    left: 53px;
    top: 197px;
    color: #24202070;
  }

  .icon3 {
    position: absolute;
    left: 53px;
    top: 276px;
    color: #24202070;
  }

  .icon4 {
    position: absolute;
    left: 53px;
    top: 356px;
    color: #24202070;
  }

  .caption {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-top: -24px;
  }

  .form-group input:focus~label,
  .form-group input:not(:placeholder-shown)~label {
      top: -20px;
  }

  .form-group:nth-child(4) input[type="password"]~.fa-eye-slash {
      display: none;
  }

  .form-group:nth-child(4) input[type="text"]~.fa-eye {
      display: none;
  }

  .form-group .fa-eye {
      position: absolute;
      color: #24202080;
      right: 0;
      margin-right: 54px;
      margin-top: -26px;
      font-size: 12px;
  }

  .form-group .fa-eye-slash {
      position: absolute;
      color: #24202080;
      right: 0;
      margin-right: 54px;
      margin-top: -26px;
      font-size: 12px;
  }

  .form-group input:focus~label,
  .form-group input:not(:placeholder-shown)~label {
      top: -20px;
  }

  .form-group:nth-child(5) input[type="password"]~.fa-eye-slash {
      display: none;
  }

  .form-group:nth-child(5) input[type="text"]~.fa-eye {
      display: none;
  }

  .form-group .eye {
      position: absolute;
      color: #24202080;
      right: 0;
      margin-right: 54px;
      margin-top: -26px;
      font-size: 12px;
  }

  .form-group .eyeslash {
      position: absolute;
      color: #24202080;
      right: 0;
      margin-right: 54px;
      margin-top: -26px;
      font-size: 12px;
  }
